<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form name="form" accept-charset="utf-8"  action="doresumeSchedule" method="post">
	       <ul>
	       <li>
                <label class="input-tips8">id：</label>
                <div >
                    <input type="number" id="scheduleId"  name="scheduleId" maxlength="16"/>
                </div>
            </li>
            <li>
                <div >
                    <input type="submit" value="确定"/>
                 
                </div>
            </li>
        </ul>
    </form>
</body>
</html>